@model List<OnlineShop.Models.Product>

<h2>Каталог товаров</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@product.ImageUrl" class="card-img-top img-fluid" style="height: 400px; object-fit: cover;" alt="@product.Name">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p><strong>@product.Price руб.</strong></p>

                    <form asp-controller="Cart" asp-action="Add" method="get" class="mt-auto">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-outline-primary w-100">
                            <i class="bi bi-cart-plus"></i> Добавить в корзину
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
